<div class="card-deck mx-2 mb-4">
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold h5 text-center bg-dark text-white">
            <i class="fab fa-apple float-left"></i> Apple 
        </div>
        <div class="card-body center">
            <a>
                <img src="../../../assets/Image/Card1.png" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark" [routerLink]="['../Search/Apple']">See more</a>
        </div>
    </div>
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold text-center h5 bg-dark text-white">
            <i class="fas fa-laptop float-left"></i> Laptops
        </div>
        <div class="card-body center">
            <a>
                <img src="../../../assets/Image/card2.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark" [routerLink]="['../Search/Laptop']">Shop now</a>
        </div>
    </div>
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold text-center h5 bg-dark text-white">
            <i class="fas fa-tshirt float-left"></i>Clothes
        </div>
        <div class="card-body center">
            <a>
                <img src="../../../assets/Image/card3.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark" [routerLink]="['../Search/Clothes']">Shop now</a>
        </div>
    </div>
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold text-center h5 bg-dark text-white">
            <i class="fas fa-horse float-left"></i>Animal Soft Toys
        </div>
        <div class="card-body center">
            <a>
                <img src="https://www.topprice.in/image/cache/catalog/amazon_store_feed/d789f0dd7f9103597fa9eca8f7783fc7fb6d608a-600x600.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark" [routerLink]="['../Search/Animal']">Shop now</a>
        </div>
    </div>
</div>
<div class="card-deck mx-2 mb-4">
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold text-center h5 bg-dark text-white">
            <i class="fas float-left fa-dice-d6"></i> Toys
        </div>
        <div class="card-body center">
            <a>
                <img src="../../../assets/Image/card5.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark" [routerLink]="['../Search/Toy']">See more</a>
        </div>
    </div>
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold text-center h5 bg-dark text-white">
            <i class="fas fa-mobile-alt float-left"></i> OnePlus
        </div>
        <div class="card-body center">
            <a>
                <img src="../../../assets/Image/card6.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark" [routerLink]="['../Search/OnePlus']">Shop now</a>
        </div>
    </div>
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold text-center h5 bg-dark text-white">
            <i class="fas fa-tv float-left"></i>Electronics
        </div>
        <div class="card-body center">
            <a>
                <img src="../../../assets/Image/card7.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark" [routerLink]="['../Search/Electronics']">Shop now</a>
        </div>
    </div>
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold text-center h5 bg-dark text-white">
            S A M S U N G
        </div>
        <div class="card-body center">
            <a>
                <img src="../../../assets/Image/card8.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark" [routerLink]="['../Search/Samsung']">Shop now</a>
        </div>
    </div>
</div>
