<p class="text-center display-4 my-3">{{productDetail.productName}}</p>

<div class="card-deck mx-2 my-3 mb-4" class="DisplayImageLG" *ngIf="Images.length != 0">
    <div class="card  border border-white" *ngFor="let l of Images;let idx = index">
        <div class=" h-100 card-body center" *ngIf="idx<=3">
            <a>
                <img src="{{l.imagePath}}" *ngIf="!Starts(l.imagePath)" width="100%" alt="" data-toggle='modal'
                    data-target='#ImageModal' (click)="ImageModal=l.imagePath;" class="zoom card-img m-auto">
                <img width="100%" *ngIf="Starts(l.imagePath)" src="../../{{l.imagePath}}" data-toggle='modal'
                    data-target='#ImageModal' (click)="ImageModal=l.imagePath;" alt="Card1"
                    class="zoom card-img m-auto">
            </a>
        </div>
    </div>
</div>
<div class="text-center" *ngIf="Images.length == 0">
    <img src="../../{{productDetail.imgPath}}" class="AltImg" alt="">
</div>
<div class="DisplayImageSM" *ngIf="Images.length != 0">
    <div class="row">
        <div class="col">
            <div data-ride="carousel" id="slider3" class="carousel slide mb-5">
                <div role="listbox" class="carousel-inner">
                    <ng-container *ngFor="let l of Images;let i = index">
                        <div class="carousel-item" [ngClass]="i == 0 ?'active':''">
                            <img src="../../{{l.imagePath}}" *ngIf="Starts(l.imagePath)" width="100%"
                                class="d-block m-auto SmImage" alt="">
                            <img src="{{l.imagePath}}" *ngIf="!Starts(l.imagePath)" width="100%"
                                class="d-block m-auto SmImage" alt="">
                        </div>
                    </ng-container>
                    <a href="#slider3" data-slide="prev" class="carousel-control-prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#slider3" data-slide="next" class="carousel-control-next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row my-4">
        <div class="col-md-4 text-center">
            <h3 class="font-weight-normal">Price</h3>
            <span>
                {{productDetail.productPrice}} &nbsp;<i class="fas fa-rupee-sign"></i>
            </span>
            <div class="row mt-2 p-3 border border-white rounded offerBack" *ngIf="productDetail.offer != 0">
                <div class="col-12">
                    Offer : {{productDetail.offer}} % <br>
                    <span class="h4 mt-4">
                        Final Price : {{productDetail.productPrice - productDetail.productPrice * productDetail.offer
                        /100}} <i class="fas fa-rupee-sign"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-7 center p-3">
            <p>
                {{description}}
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-2"></div>
    <div class="col-md-2 col-4 text-center">
        <button (click)="AddProduct()" class="button"><i class="fas fa-shopping-cart"></i>&nbsp;Cart</button>
    </div>
    <div class="col-md-2 col-4 text-center">
        <button class="button" (click)="Buy()"><i class="fas fa-shopping-bag"></i>&nbsp;Buy</button>
    </div>
    <div class="col-md-4 col-2"></div>
</div>
<app-similar-product [product]="productDescription" [related]="productDescription.relatedCategory">
</app-similar-product>

<div class="modal fade" id="ImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row h-100">
                    <div class="col-10 center">
                        <img src="{{ImageModal}}" width="100%" class="ImgModal" *ngIf="!Starts(ImageModal)">
                        <img src="../../{{ImageModal}}" width="100%" class="ImgModal" *ngIf="Starts(ImageModal)">
                    </div>
                    <div class="col-2 overflow-auto sideImages">
                        <ng-container *ngFor="let l of Images">
                            <img src="{{l.imagePath}}" *ngIf="!Starts(l.imagePath)" width="100%" alt=""
                                (mouseover)="ImageModal=l.imagePath;"
                                class="card-img  mb-2">
                            <img width="100%" *ngIf="Starts(l.imagePath)" src="../../{{l.imagePath}}"
                                (mouseover)="ImageModal=l.imagePath;"
                                 class="card-img  mb-2">
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>