
<div class="row mb-3">
    <div class="col-md-4 col-sm-1 col-1">
    </div>
    <div class="col-md-4 col-sm-10 col-10 mb-2">
        <div class="input-group location" >
            <div class="input-group-prepend dropdown">
                <span class="input-group-text dropdown-toggle" data-toggle="dropdown">Search by {{searchName}}</span>
                <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="SearchSet('Seller')">Seller name</a>
                    <a class="dropdown-item" (click)="SearchSet('Company')">Company name</a>
                </div>
            </div>
            <input type="text" class="form-control" (change)="search()" [(ngModel)]="searchSet" placeholder="Search here...">
        </div>
    </div>
    <div class="col-md-1 col-sm-0 "></div>
    <div class="col-md-2 col-sm-12 col-12 text-center">
        <button class="btn btn-outline-success" data-toggle='modal' data-target='#AddSeller'
            >+&nbsp;Seller</button>
    </div>
</div>
<div class="container">
    <div class="row">
        <ng-container *ngFor="let l of sellers">
            <div  class="col-lg-3 col-md-4 col-sm-6 col-6 mb-2">
                <div class="card backBrand h-100" (click)="SellerInfo(l.sellerId)">
                    <div class="card-body colorAdd h4 center text-center">
                        {{l.sellerCompanyName}}
                    </div>
                    <div class="card-footer text-center colorFooter h6">
                        Owner : {{l.sellerName}}
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-2">
            <div class="card AddBack h-100" data-toggle='modal'
                data-target='#AddSeller'>
                <div class="card-body AddColor p-4 center h4  text-center">
                    <i class="fas fa-plus AddColor"></i>&nbsp; Add
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddSeller" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="sellerForm" #f='ngForm'>
                    <div>
                        <label for="Seller Name">Seller Name</label>
                        <input type="text" [(ngModel)]="seller.sellerName"
                            [ngClass]="{danger : (fSellerName.touched && fSellerName.invalid), shadow : (fSellerName.untouched || fSellerName.valid)}"
                            placeholder="Seller Name" class="form-control p-3 mb-3" formControlName="fSellerName">
                    </div>
                    <div>
                        <label for="Seller Company">Seller Company</label>
                        <input type="text" [(ngModel)]="seller.sellerCompanyName"
                            [ngClass]="{danger : (fSellerCompanyName.touched && fSellerCompanyName.invalid), shadow : (fSellerCompanyName.untouched || fSellerCompanyName.valid)}"
                            placeholder="Company Name" class="form-control p-3 mb-3" formControlName="fSellerCompanyName">
                    </div>
                    <div>
                        <label for="Seller Contact">Seller Contact Number</label>
                        <input type="text" [(ngModel)]="seller.sellerContactNo"
                            [ngClass]="{danger : (fSellerContactNo.touched && fSellerContactNo.invalid), shadow : (fSellerContactNo.untouched || fSellerContactNo.valid)}"
                            placeholder="Contact Number" class="form-control p-3 mb-3" formControlName="fSellerContactNo">
                    </div>
                    <div>
                        <label for="Seller Email">Seller Email</label>
                        <input type="text" [(ngModel)]="seller.sellerEmail"
                            [ngClass]="{danger : (fSellerEmail.touched && fSellerEmail.invalid), shadow : (fSellerEmail.untouched || fSellerEmail.valid)}"
                            placeholder="Email" class="form-control p-3 mb-3" formControlName="fSellerEmail">
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="ResetSeller()">Reset</button>
                <button class="btn btn-outline-success" (click)="AddSeller()" data-dismiss="modal" [disabled]='sellerForm.status=="INVALID"'>
                    <i class="fas fa-plus"></i>&nbsp;Insert
                </button>
            </div>
        </div>
    </div>
</div>
