<div class="card-deck mx-2 mb-4">
    <div class="card cardShadow border border-white">
        <div class="card-header text-center font-weight-bold h5 bg-dark text-white">
            <i class="fas float-left fa-briefcase"></i>Bags
        </div>
        <div class="card-body center">
            <a>
                <img src="../../../assets/Image/card9.png" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark" [routerLink]="['../Search/Bags']">See more</a>
        </div>
    </div>
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold text-center h5 bg-dark text-white">
            <i class="fas fa-gamepad float-left"></i> Video Games
        </div>
        <div class="card-body center">
            <a>
                <img src="../../../assets/Image/card10.png" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark" [routerLink]="['../Search/Video Game']">Shop now</a>
        </div>
    </div>
    <div class="card cardShadow border border-white">
        <div class="card-header text-center font-weight-bold h5 bg-dark text-white">
            <i class="float-left fas fa-home"></i>Home Decor
        </div>
        <div class="card-body center">
            <a>
                <img src="../../../assets/Image/card11.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark" [routerLink]="['../Search/Home Decor']">Shop now</a>
        </div>
    </div>
    <div class="card cardShadow border border-white">
        <div class="card-header font-weight-bold text-center h5 bg-dark text-white">
            <i class="fab fa-google float-left"></i>Google
        </div>
        <div class="card-body center">
            <a>
                <img src="../../../assets/Image/card12.jpg" alt="Card1" class="card-img m-auto">
            </a>
        </div>
        <div class="card-footer">
            <a class="text-decoration-none text-dark" [routerLink]="['../Search/Google']">Shop now</a>
        </div>
    </div>
</div>